// $theme-colors: (
//   "primary":    green,
//   "dark":rgb(7, 51, 43)
// );


$primary:   #2563EB; 
$secondary: #64748B; 
$success:   #16A34A; 
$info:      #0EA5E9; 
$warning:   #FACC15;
$danger:    #DC2626; 
$light:     #F8FAFC; 
$dark:      #0F172A; 

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

@import "../node_modules/bootstrap/scss/bootstrap";
